@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/*color
#1c2834
*/

section{
    margin-bottom: 60px;
}
/* navbar cs start*/
.navbar{
}
.navbar-toggler{
    background-color: #d4af37;
}
.navbar-toggler:hover{
    color: #d4af37;
}


.navbar-brand{
    font-family: Montserrat-Thin, serif;
    color: #d4af37 !important;
    font-size: x-large;
}
.navbar{
    background-color: #1c2834 !important;
}
.navbar-nav li a{
    color: #d4af37 !important;
    font-family: 'Montserrat, sans-serif', serif;
    font-size: larger;
}

.navbar-nav li a:hover{
    background-color: #d4af37;
    color: #1c2834 !important;
    font-family: 'Montserrat, sans-serif', serif;
    font-weight: bolder;
    transition: background-color 0.5s ease-in-out;
}

.autohide{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}
.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
}
/*nav bar css ends*/

h1{
    font-family: "Montserrat-Thin", serif;
}

p {
    font-family: 'Montserrat, sans-serif', serif;  font-size: 0.9rem;  line-height: 1.8;
    font-weight: 400;}

.cnt-block {
    height: 39px;
}

.bg-info{
    background-color: blueviolet;
}


#more {display: none;}






/* Our Services */
@media (max-width: 767px) {
    #servicesId .carousel-inner .carousel-item > div {
        display: none;
    }
    #servicesId .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
    #servicesId .card-img img{
        width: 100%;
    }
    #servicesId .card-img-overlay h1{
        font-size: 38px;
    }
}

#servicesId .carousel-inner .carousel-item.active,
#servicesId .carousel-inner .carousel-item-next,
#servicesId .carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    #servicesId .carousel-inner .carousel-item-end.active,
    #servicesId .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    #servicesId .carousel-inner .carousel-item-start.active,
    #servicesId .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

#servicesId .carousel-inner .carousel-item-end,
#servicesId .carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.card{
    background-color: inherit;
    border: none;
}



/*Our services*/

/*Card image size*/
.card-img img{
    height: 400px;
    filter: brightness(60%);
}

.card h1{
    font-family: Montserrat-Thin, serif;
    font-size: 45px;
    -webkit-text-stroke: 1.5px #d4af37;
    color: white;
}
.card-img-overlay p{
    font-family: Arial, monospace;
    font-size: 17px;
    color: white;
    padding-top: 75px;
}



/*.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: #d4af37;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 5px solid #d4af37;
    background-image: none;
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 50px;
    color: red;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 50px;
    color: red;
}*/


/* Testimonial */

/*

section{
    margin-bottom: 10%;
}


#carouselFadeId .carousel-control-prev{
    top: 110%;
    left: 30%;
}

#carouselFadeId .carousel-control-next{
    top: 110%;
    right: 30%;
    color: #d4af37 !important;
}

.testimonial-carousel-indicators{
    color: wheat;
    position: relative;
    left: 50%;
    padding-top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.testimonial-carousel-id h1,
.testimonial-carousel-id h2{
    animation: fadeInLeft 0.5s ease forwards;
}
.testimonial-carousel-id p{
    animation: fadeInRight 0.5s ease forwards;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate(-30px);
    }
    100% {
        opacity: 1;
        transform: translate(0px);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate(30px);
    }
    100% {
        opacity: 1;
        transform: translate(0px);
    }
}

#carouselFadeId{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
*/


/*Baabaqo*/

.baabaqo .carousel-item{
    min-height: 62vh;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.baabaqo .carousel-item:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.baabaqo .carousel-item h2{
    font-family: 'Kaushan Script', cursive;
    font-size: 80px;
    color: red !important;
    opacity: 0;
    text-align: center;
    padding-top: 120px;
}

.baabaqo .carousel-item p{
    font-family: "Montserrat-Thin", serif;
    font-size: 24px;
    margin: 0;
    color: greenyellow;
    opacity: 0;
    text-transform: uppercase;
    left: 50% !important;
    top: 50%;
    text-align: center;
}
.baabaqo .carousel-item.active h2{
    animation: fadeInLeft 0.5s ease forwards;
}
.baabaqo .carousel-item.active p{
    animation: fadeInRight 0.5s ease forwards;
}
.baabaqo .carousel-controls{
    position: absolute;
    left: 50%;
    bottom: 40px;
    z-index: 10;
    transform: translate(-50%);
}
.baabaqo .carousel-indicators{
    position: relative;
    margin: 0;
}
.baabaqo .carousel-indicators li{
    width: 30px;
    height: 5px;
    margin: 0;
    background-position: center;
    background-size: cover;
    border: solid 2px transparent;
    transition: all 0.3s ease;
}
.baabaqo .carousel-control-next-icon,
.baabaqo .carousel-control-prev-icon{
    width: 30px;
}
.baabaqo .carousel-control-next{
    right: -90px;
}
.baabaqo .carousel-control-prev{
    left: -90px;
}
.baabaqo .carousel-indicators li.active{
    border-color: #fff;;
    transform: scale(1.2);
}
.baabaqo .carousel-control-next,
.baabaqo .carousel-control-prev{
    width: 60px;
    height: 60px;
    opacity: 1;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: all 0.3s ease;
}
.baabaqo .carousel-control-next:hover,
.baabaqo .carousel-control-prev:hover{
    box-shadow: 0 0 10px #ffffff;
}




/*Contact version 2*/
.contact2{
    max-width: 800px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1);
    padding: 30px;
    /*background: #1c2834;*/
}
.contact2 .title{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 3em;
    line-height: 48px;
    padding-bottom: 20px;
    color: #5543ca;
    /*background: linear-gradient(to right, #f4534d 0%, #5543ca 100%);*/
    background: linear-gradient(0.25turn,#d69600 , #ffdf7a, #d69600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact2 .form-field{
    position: relative;
    margin: 32px 0;
}
.contact2 .input-text{
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #1c2834;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.contact-form .input-text:focus + .label{
    transform: translateY(-25px);
}
.contact-form .input-text:focus{
    outline: none;
}
.contact-form .label{
    position: absolute;
    left: 11px; bottom: 11px;
    font-size: 18px; line-height: 26px;
    font-weight: 400;
    color: #1c2834;
    cursor: text;
    text-transform: capitalize;
    transition: tranform 0.2s ease-in-out;
}
.contact-form .label-contact-message{
    position: absolute;
    font-size: 18px; line-height: 26px;
    color: #1c2834;
    cursor: text;
    text-transform: capitalize;
}
.contact-form .input-text-message{
    width: 100%;
    margin-top: 26px;
    border-width: 0 0 2px 0;
    border-color: #1c2834;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
.contact-form .input-text-message:focus{
    outline-color: #d69600 !important;
    border-color: #d69600 !important;
}
.contact2 .contact-form .submit-btn{
    /*background-image: linear-gradient(90deg, #d69600, #ffdf7a);*/
    background-image: linear-gradient(0.25turn,#d69600 , #ffdf7a, #d69600);
    color: #1c2834;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 16px; border: none;
    width: 200px; cursor: pointer;
}

@media screen and (max-width: 640px) {
    .contact2 .btn1{
        text-align: center !important;
    }
}










footer{
    padding: 30px;
    background-color: #1c2834;
    color: white;
}